@model ProyectSoftware.Web.DTOs.PlaylistDTO

<h2>Edit Playlist</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cantidad">Cantidad:</label>
        <input asp-for="Cantidad" class="form-control" />
        <span asp-validation-for="Cantidad" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Playlist">Cancel</a>

</form>
